// Variables

// Font families
$segoe: 'Segoe UI Regular', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--light: 'Segoe UI Light', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--semi: 'Segoe UI Semibold', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--bold: 'Segoe UI Bold', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;

// MWF Font weights
$bold: 700;
$semi-bold: 600;
$normal: 400;

// Colors (You will most likely have to edit these on a project to project basis)
$text--white:       #ffffff;
$text--default:     #000000;
$text--grey:        #737373;
$text--blue:        #0078D7;

$bg--white:         #ffffff;
$bg--black:         #000000;
$bg--blue:          #0078D7;
$bg--horizondal:    #969696;

// Hero section colors
$ccpa--blue:        #0f6ebe; 
$bg--hero:          #2d2d2d;
$text--discover:    #0b6bb7;
$text--count:       #005ad3;
$text--tiplink:     #106cb9;  
$bg-ccpacontent:    #2d2d2d;    
